@font-face {
    font-family: "JabberCat Emoji";
    src: url("qrc:/fonts/cat-emoji.ttf");
}

#messages {
    color: #222;
}

#messages > .message-block {
    /* box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5); */
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#messages > .message-block > .avatar {
    float: left;
    padding-right: 0.5em;
}

#messages > .message-block > .avatar > img {
    width: 48px;
}

#messages.separate-self > .message-block {
    max-width: 90%;
}

#messages.separate-self > .message-block.from-self {
    align-self: flex-end;
}

#messages > .message-block > .from {
    font-weight: 500;
}

#messages.separate-self > .message-block.from-self > .from {
    text-align: right;
    overflow-wrap: break-word;
}

#messages > .message-block > .message-block-messages {
    margin-left: 48px;
    padding-left: 0.5em;
}

#messages > .message-block > .message-block-messages > .message {
    display: flex;
    flex-direction: row;
}

#messages > .message-block > .message-block-messages > .message > div {
    flex: 0 0 auto;
}

#messages > .message-block > .message-block-messages > .message > .body {
    flex: 1 1 auto;
    overflow-wrap: break-word;
}

#messages > .message-block > .message-block-messages > .message > .timestamp {
    text-align: right;
    padding-right: 1.5em;
    font-weight: lighter;
    font-size: 85%;
    opacity: 0.8;
}

.screenreader-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.visual-hidden {
    opacity: 0.0;
}

.timestamp > .visual-hidden {
    opacity: 0.7;
}

.message-block-messages:hover .timestamp > .visual-hidden {
    opacity: 1.0;
}

#messages > .message-block {
    background: rgba(255, 255, 255, 0.5);
}

body {
    background: rgba(240, 240, 240, 0.2);
}

.clearfix {
    clear: both;
}

.frame-wrapper {
    position: relative;
    width: 100%;
    max-width: 60em;
}

.frame-wrapper, img.attachment {
    box-shadow: 0 0 4px #aaa;
}


.frame-wrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.attachment {
    max-width: 60em;
    max-height: 40em;
}

div.marker {
    opacity: 0.8;
    margin-bottom: 0.5em;
}

div.marker > img {
    width: 32px;
    vertical-align: middle;
    margin-right: 0.5em;
}

div.marker > span {
    font-style: italic;
}

span.emoji-hugify {
    font-size: 300%;
}

span.action {
    font-weight: bold;
    font-style: italic;
}

div.presence-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 4.5em;
    padding-right: 4.5em;
}

div.presence-block > div.presence {
    position: relative;
    margin: 0.1em;
}

div.presence-block > div.presence > img {
    width: 32px;
    vertical-align: middle;
    margin-right: 0.5em;
    opacity: 0.8;
}

div.presence-block > div.presence.part > img {
    opacity: 0.5;
    z-index: -1;
}

div.presence-block > div.presence > span {
    display: none;
    position: absolute;
    top: 100%;
    width: 10em;
    left: -5em;
    margin-left: 16px;
    padding: 0.5em;
    border-radius: 0.25em;
    margin-top: 0.5em;
    text-align: center;
    z-index: 1;
}

div.presence-block:last-child > div.presence > span {
    top: initial;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.5em;
}

div.presence-block > div.presence:hover > span {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
